@tailwind base;
@tailwind components;
@tailwind utilities;

.balanced {
  max-inline-size: 50ch;
  text-wrap: balance;
}

:root {
  --primary: rgba(0, 0, 0, 0.1);
  --secondary: rgb(253,214,1);
}

/* .horizontal-scroll::-webkit-scrollbar {
  width: 2em;
  height: 12px;
}

.horizontal-scroll::-webkit-scrollbar-track {
  background: hsl(0 0% 63% / 0.5);
  border-radius: 100vw;
  margin-block: 0.5em;
}

.horizontal-scroll::-webkit-scrollbar-thumb {
  background: hsl(240 4% 46% / 1);
  border-radius: 100vw;
}

.horizontal-scroll::-webkit-scrollbar-thumb:hover {
  background: hsl(240 5% 26% / 1);
} */



/* .horizontal-scroll::-webkit-scrollbar-button {
  background: hsl(120 100% 20% / 1);
  border: 0.25em solid hsl(120 75% 50% / 1);
  border-radius: 100vw;
} */

/* * {
  scrollbar-width: thin;
  scrollbar-color: var(--secondary) var(--primary);
} */

/* *::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

*::-webkit-scrollbar-track {
  background: var(--primary);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--secondary);
  border-radius: 0px;
  border: 3px solid var(--primary);
} */
