@tailwind base;
@tailwind components;
@tailwind utilities;

.balanced {
  max-inline-size: 50ch;
  text-wrap: balance;
}

:root {
  --primary: rgba(0, 0, 0, 0.1);
  --secondary: rgb(253,214,1);
}

/* * {
  scrollbar-width: thin;
  scrollbar-color: var(--secondary) var(--primary);
} */

/* *::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

*::-webkit-scrollbar-track {
  background: var(--primary);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--secondary);
  border-radius: 0px;
  border: 3px solid var(--primary);
} */
